
/* .App {
  text-align: center;
}  */


.avatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.login-div {
  align-items: center;
  height: 400px;
  width: 255px;
  border: 15px solid lightGrey;
  padding: 10px;
  margin: auto;
  text-align: center;
}

.header-div {
  /* grid-template-columns:50px;
  grid-template-rows: 25px; */
  border: 1px solid lightGrey;
  /* style={{"float":"left", "marginLeft":"200px"}} */
  position: fixed;
  width: 100vw;
  /* align-items: center; */
}

.instagrahams {
  font-family: 'Euphoria Script', cursive;
  font-size: 30px;
  
}

.icons-div{
  float:right;
  /* margin-left: 500px; 
  margin-right: 500px; */
  
}

.search-div {
  margin-top: 10px;
  
  /* background-color:red; */

}

.logo {
  float: left;
}

input {
  /* left: 500px; */
}